In [1]:
import datetime
import logging
from matplotlib import pyplot as plt
from yahoo_fin import stock_info as si
import pandas as pd

In [2]:
str_now = datetime.datetime.now().strftime('%Y_%m_%d')
list_ticker_snp_500 = si.tickers_sp500()

In [14]:
snp_500 = si.tickers_sp500(True)
snp_500

,Symbol,Security,SEC filings,GICS Sector,GICS Sub-Industry,Headquarters Location,Date first added,CIK,Founded
0,MMM,3M,reports,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1976-08-09,66740,1902
1,AOS,A. O. Smith,reports,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,reports,Health Care,Health Care Equipment,"North Chicago, Illinois",1964-03-31,1800,1888
3,ABBV,AbbVie,reports,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ABMD,Abiomed,reports,Health Care,Health Care Equipment,"Danvers, Massachusetts",2018-05-31,815094,1981
...,...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,reports,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,reports,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,reports,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,reports,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,reports,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [146]:
snp_500['GICS Sector'].value_counts(normalize=True)

Information Technology    0.149105
Industrials               0.143141
Financials                0.131213
Health Care               0.127237
Consumer Discretionary    0.111332
Consumer Staples          0.065606
Real Estate               0.061630
Utilities                 0.059642
Materials                 0.055666
Communication Services    0.051690
Energy                    0.043738
Name: GICS Sector, dtype: float64

In [34]:
test = si.get_data('AOS',start_date='09-11-2021')['close']
test

2021-09-13    69.699997
2021-09-14    68.330002
2021-09-15    68.459999
2021-09-16    66.660004
2021-09-17    65.279999
                ...
2022-09-30    48.580002
2022-10-03    50.630001
2022-10-04    52.360001
2022-10-05    51.500000
2022-10-06    50.919998
Name: close, Length: 270, dtype: float64

In [36]:
test.diff()

2021-09-13         NaN
2021-09-14   -1.369995
2021-09-15    0.129997
2021-09-16   -1.799995
2021-09-17   -1.380005
                ...
2022-09-30   -0.149998
2022-10-03    2.049999
2022-10-04    1.730000
2022-10-05   -0.860001
2022-10-06   -0.580002
Name: close, Length: 270, dtype: float64

In [46]:
df_res = pd.DataFrame()
for ticker in list_ticker_snp_500:
    df_tmp = si.get_data(ticker,start_date='09-11-2020')['close'].diff()
    df_res[ticker] = df_tmp

In [47]:
df_res

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2020-09-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-14,0.820000,0.310,2.720001,3.360001,0.790001,0.519997,5.930023,0.990005,4.059998,14.559998,...,1.690002,0.680000,-0.240002,1.740002,-0.340004,0.600006,1.339813,1.299988,0.780001,2.270004
2020-09-15,0.950005,-0.120,-0.429993,0.180000,0.420006,0.300003,3.459991,0.889999,1.369995,11.760010,...,-1.520004,0.870003,-0.389999,0.459999,0.200005,0.649994,3.601944,6.199997,-1.110001,1.419998
2020-09-16,-0.450005,0.660,-2.240005,-3.410004,-1.130005,1.889999,-4.750000,-0.880005,-0.779999,-21.670013,...,-2.619995,0.509995,1.540001,1.029999,0.799995,1.290001,1.582520,-3.309998,0.650000,-1.029999
2020-09-17,-0.320000,-0.170,0.119995,-1.790001,-0.150002,0.019997,1.730011,0.960007,-2.599991,-1.700012,...,-0.360001,-2.479996,-0.010002,0.330002,0.639999,-1.099998,-3.048538,2.029999,-0.289999,-0.779999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,-1.189995,-0.210,-3.320007,-4.279999,-8.509995,-0.740005,-3.300003,-1.529999,-0.970001,-3.049988,...,-1.320000,-1.360001,-1.370003,-0.799999,-0.729996,-0.870003,-2.570000,-3.509979,-0.919998,-2.660004
2022-10-03,4.829994,-0.120,7.029999,4.250000,4.110001,3.979996,9.489990,2.759995,7.590027,10.039978,...,1.580002,1.540001,4.610001,0.830000,2.839996,2.770004,2.769997,10.079987,1.349998,3.060013
2022-10-04,5.030006,1.030,4.460007,3.650009,3.669998,3.419998,8.860016,3.560005,9.419983,9.730011,...,6.129997,0.930000,3.349998,0.750000,2.940002,2.300003,4.370003,9.559998,2.310001,3.399994
2022-10-05,1.229996,-0.080,-0.190002,0.299988,1.339996,-0.279999,0.250000,0.299995,0.029999,2.410004,...,1.440002,-2.139999,3.850006,0.309999,-0.479996,0.919998,0.799995,0.230011,-1.000000,-0.160004
2022-10-06,-0.429993,-0.105,-1.955002,-0.709991,-2.770004,-2.360001,2.454987,-1.104996,-3.949982,1.609985,...,2.030998,-2.150002,2.649994,-0.730000,-0.955002,-1.700005,-1.509995,-0.429993,-0.920002,-1.429993

In [48]:
df_res.drop(index=df_res.index[0],inplace=True)

In [49]:
df_res

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
2020-09-14,0.820000,0.310000,2.720001,3.360001,0.790001,0.519997,5.930023,0.990005,4.059998,14.559998,...,1.690002,0.680000,-0.240002,1.740002,-0.340004,0.600006,1.339813,1.299988,0.780001,2.270004
2020-09-15,0.950005,-0.120000,-0.429993,0.180000,0.420006,0.300003,3.459991,0.889999,1.369995,11.760010,...,-1.520004,0.870003,-0.389999,0.459999,0.200005,0.649994,3.601944,6.199997,-1.110001,1.419998
2020-09-16,-0.450005,0.660000,-2.240005,-3.410004,-1.130005,1.889999,-4.750000,-0.880005,-0.779999,-21.670013,...,-2.619995,0.509995,1.540001,1.029999,0.799995,1.290001,1.582520,-3.309998,0.650000,-1.029999
2020-09-17,-0.320000,-0.170000,0.119995,-1.790001,-0.150002,0.019997,1.730011,0.960007,-2.599991,-1.700012,...,-0.360001,-2.479996,-0.010002,0.330002,0.639999,-1.099998,-3.048538,2.029999,-0.289999,-0.779999
2020-09-18,-0.220001,-0.440001,-0.879990,-3.500000,0.480003,0.020004,-11.070007,0.199997,-0.640015,-6.750000,...,-1.600006,-1.540001,-0.610001,-1.389999,-0.260002,-1.599998,-3.805832,-0.029999,-0.100000,0.399994
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-09-30,-1.189995,-0.210000,-3.320007,-4.279999,-8.509995,-0.740005,-3.300003,-1.529999,-0.970001,-3.049988,...,-1.320000,-1.360001,-1.370003,-0.799999,-0.729996,-0.870003,-2.570000,-3.509979,-0.919998,-2.660004
2022-10-03,4.829994,-0.120000,7.029999,4.250000,4.110001,3.979996,9.489990,2.759995,7.590027,10.039978,...,1.580002,1.540001,4.610001,0.830000,2.839996,2.770004,2.769997,10.079987,1.349998,3.060013
2022-10-04,5.030006,1.030000,4.460007,3.650009,3.669998,3.419998,8.860016,3.560005,9.419983,9.730011,...,6.129997,0.930000,3.349998,0.750000,2.940002,2.300003,4.370003,9.559998,2.310001,3.399994
2022-10-05,1.229996,-0.080000,-0.190002,0.299988,1.339996,-0.279999,0.250000,0.299995,0.029999,2.410004,...,1.440002,-2.139999,3.850006,0.309999,-0.479996,0.919998,0.799995,0.230011,-1.000000,-0.160004
2022-10-06,-0.429993,-0.105000,-1.955002,-0.709991,-2.770004,-2.360001,2.454987,-1.104996,-3.949982,1.609985,...,2.030998,-2.150002,2.649994,-0.730000,-0.955002,-1.700005,-1.509995,-0.429993,-0.920002,-1.429993

In [51]:
corrs = df_res.corr()
corrs

,A,AAL,AAP,AAPL,ABBV,ABC,ABMD,ABT,ACN,ADBE,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
A,1.000000,0.234304,0.317190,0.531514,0.257061,0.269729,0.538951,0.573656,0.596702,0.582167,...,0.258295,0.238120,0.124221,0.283410,0.539949,0.451411,0.379718,0.569012,0.265830,0.659621
AAL,0.234304,1.000000,0.303399,0.326399,0.078525,0.217695,0.298114,0.135315,0.320969,0.184723,...,0.583077,-0.014961,0.241050,0.298364,0.402386,0.355465,0.396464,0.323172,0.537124,0.121103
AAP,0.317190,0.303399,1.000000,0.310924,0.274963,0.373860,0.225068,0.228006,0.426365,0.254415,...,0.231035,0.215122,0.211422,0.270481,0.471472,0.423287,0.316069,0.321780,0.405560,0.319176
AAPL,0.531514,0.326399,0.310924,1.000000,0.194385,0.290354,0.474114,0.436854,0.581700,0.633240,...,0.316207,0.297525,0.151844,0.221427,0.444200,0.422478,0.337046,0.543948,0.267537,0.521374
ABBV,0.257061,0.078525,0.274963,0.194385,1.000000,0.386389,0.146650,0.363638,0.296937,0.135675,...,0.103264,0.264338,0.203291,0.271710,0.165482,0.230978,0.253852,0.157620,0.200798,0.355518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
YUM,0.451411,0.355465,0.423287,0.422478,0.230978,0.304947,0.378850,0.348642,0.523514,0.351433,...,0.377367,0.303490,0.221565,0.309813,0.503014,1.000000,0.430906,0.465371,0.371838,0.467443
ZBH,0.379718,0.396464,0.316069,0.337046,0.253852,0.344473,0.461601,0.293375,0.426897,0.246293,...,0.453292,0.242094,0.260660,0.470857,0.403560,0.430906,1.000000,0.320980,0.455111,0.261375
ZBRA,0.569012,0.323172,0.321780,0.543948,0.157620,0.226113,0.443166,0.395860,0.603229,0.564342,...,0.348722,0.143154,0.168979,0.218118,0.515710,0.465371,0.320980,1.000000,0.340625,0.495742
ZION,0.265830,0.537124,0.405560,0.267537,0.200798,0.362133,0.182513,0.180975,0.377730,0.096263,...,0.517628,0.107989,0.389890,0.409591,0.488100,0.371838,0.455111,0.340625,1.000000,0.118329
ZTS,0.659621,0.121103,0.319176,0.521374,0.355518,0.321830,0.476139,0.593914,0.595584,0.568068,...,0.155923,0.298613,0.056904,0.200806,0.408339,0.467443,0.261375,0.495742,0.118329,1.000000

In [74]:
df1 = corrs.abs().unstack().sort_values(kind='quicksort',ascending=False).drop_duplicates()

In [75]:
df1.to_frame().reset_index()

       level_0 level_1             0
0            A       A  1.000000e+00
1        GOOGL    GOOG  9.898084e-01
2         FOXA     FOX  9.861323e-01
3         NWSA     NWS  9.732550e-01
4          EQR     AVB  9.367670e-01
...        ...     ...           ...
126249     CAT    NFLX  3.009573e-05
126250       C     DLR  1.988593e-05
126251     MAR      KR  7.155495e-06
126252    PARA     RMD  2.252140e-06
126253    CTRA    MRNA  6.832128e-07

[126254 rows x 3 columns]

In [77]:
df1.drop(df1.index[:4], inplace=True)

In [81]:
df1 = df1.to_frame().reset_index()

In [82]:
df1

       level_0 level_1             0
0          EQR     AVB  9.367670e-01
1          KEY     CFG  9.349367e-01
2          CFG    FITB  9.330688e-01
3          KEY    FITB  9.325940e-01
4          VMC     MLM  9.311751e-01
...        ...     ...           ...
126245     CAT    NFLX  3.009573e-05
126246       C     DLR  1.988593e-05
126247     MAR      KR  7.155495e-06
126248    PARA     RMD  2.252140e-06
126249    CTRA    MRNA  6.832128e-07

[126250 rows x 3 columns]

In [93]:
merged1 = pd.merge(df1,snp_500[['GICS Sector', 'Symbol']], how='left', left_on='level_0', right_on='Symbol')

In [94]:
merged1

       level_0 level_1             0             GICS Sector Symbol
0          EQR     AVB  9.367670e-01             Real Estate    EQR
1          KEY     CFG  9.349367e-01              Financials    KEY
2          CFG    FITB  9.330688e-01              Financials    CFG
3          KEY    FITB  9.325940e-01              Financials    KEY
4          VMC     MLM  9.311751e-01               Materials    VMC
...        ...     ...           ...                     ...    ...
126245     CAT    NFLX  3.009573e-05             Industrials    CAT
126246       C     DLR  1.988593e-05              Financials      C
126247     MAR      KR  7.155495e-06  Consumer Discretionary    MAR
126248    PARA     RMD  2.252140e-06  Communication Services   PARA
126249    CTRA    MRNA  6.832128e-07                  Energy   CTRA

[126250 rows x 5 columns]

In [95]:
merged2 = pd.merge(merged1,snp_500[['GICS Sector', 'Symbol']], how='left', left_on='level_1', right_on='Symbol')

In [96]:
merged2

,level_0,level_1,0,GICS Sector_x,Symbol_x,GICS Sector_y,Symbol_y
0,EQR,AVB,9.367670e-01,Real Estate,EQR,Real Estate,AVB
1,KEY,CFG,9.349367e-01,Financials,KEY,Financials,CFG
2,CFG,FITB,9.330688e-01,Financials,CFG,Financials,FITB
3,KEY,FITB,9.325940e-01,Financials,KEY,Financials,FITB
4,VMC,MLM,9.311751e-01,Materials,VMC,Materials,MLM
...,...,...,...,...,...,...,...
126245,CAT,NFLX,3.009573e-05,Industrials,CAT,Communication Services,NFLX
126246,C,DLR,1.988593e-05,Financials,C,Real Estate,DLR
126247,MAR,KR,7.155495e-06,Consumer Discretionary,MAR,Consumer Staples,KR
126248,PARA,RMD,2.252140e-06,Communication Services,PARA,Health Care,RMD
126249,CTRA,MRNA,6.832128e-07,Energy,CTRA,Health Care,MRNA

In [124]:
merged2.columns = ['level_0','level_1','corrs', 'GICS Sector_x', 'Symbol_x', 'GICS Sector_y', 'Symbol_y']

In [99]:
merged2[['GICS Sector_x', 'GICS Sector_y']].value_counts(normalize=True)

GICS Sector_x           GICS Sector_y
Information Technology  Information Technology    0.021980
                        Industrials               0.021513
Industrials             Information Technology    0.021259
                        Industrials               0.020246
Financials              Information Technology    0.020150
                                                    ...
Materials               Energy                    0.002448
Energy                  Materials                 0.002432
                        Communication Services    0.002352
Communication Services  Energy                    0.002178
Energy                  Energy                    0.001830
Length: 121, dtype: float64

In [127]:
merged2.groupby(['GICS Sector_x','GICS Sector_y'])['corrs'].mean().sort_values(ascending=False).head(20)

GICS Sector_x           GICS Sector_y
Energy                  Energy                    0.724439
Utilities               Utilities                 0.608746
Financials              Financials                0.542539
Real Estate             Real Estate               0.523756
Information Technology  Information Technology    0.459770
Industrials             Industrials               0.440778
Materials               Materials                 0.439550
Financials              Industrials               0.434203
Industrials             Financials                0.433606
Materials               Financials                0.431690
Financials              Materials                 0.422113
Materials               Industrials               0.405286
Industrials             Materials                 0.404026
Real Estate             Utilities                 0.396323
Consumer Discretionary  Consumer Discretionary    0.391357
Utilities               Real Estate               0.390609
Consumer Discretionary  Financials                0.381967
Financials              Consumer Discretionary    0.377815
Consumer Discretionary  Industrials               0.377266
Consumer Staples        Consumer Staples          0.374705
Name: corrs, dtype: float64

In [107]:
res1 = merged2.loc[merged2['GICS Sector_x'] == merged2['GICS Sector_y']]
res1

,level_0,level_1,0,GICS Sector_x,Symbol_x,GICS Sector_y,Symbol_y
0,EQR,AVB,0.936767,Real Estate,EQR,Real Estate,AVB
1,KEY,CFG,0.934937,Financials,KEY,Financials,CFG
2,CFG,FITB,0.933069,Financials,CFG,Financials,FITB
3,KEY,FITB,0.932594,Financials,KEY,Financials,FITB
4,VMC,MLM,0.931175,Materials,VMC,Materials,MLM
...,...,...,...,...,...,...,...
126041,HSIC,BIIB,0.003108,Health Care,HSIC,Health Care,BIIB
126142,BIIB,ZBH,0.001570,Health Care,BIIB,Health Care,ZBH
126143,TRV,MKTX,0.001557,Financials,TRV,Financials,MKTX
126205,NFLX,VZ,0.000711,Communication Services,NFLX,Communication Services,VZ
126220,BK,MKTX,0.000506,Financials,BK,Financials,MKTX

In [110]:
res1.columns = ['level_0','level_1','corrs', 'GICS Sector_x', 'Symbol_x', 'GICS Sector_y', 'Symbol_y']

In [111]:
res1['GICS Sector_x'].value_counts(normalize=True)

Information Technology    0.207229
Industrials               0.190874
Financials                0.160182
Health Care               0.150549
Consumer Discretionary    0.115003
Consumer Staples          0.039429
Real Estate               0.034725
Utilities                 0.032485
Materials                 0.028228
Communication Services    0.024046
Energy                    0.017250
Name: GICS Sector_x, dtype: float64

In [120]:
res1.groupby('GICS Sector_x')['corrs'].mean().sort_values(ascending=False)

GICS Sector_x
Energy                    0.724439
Utilities                 0.608746
Financials                0.542539
Real Estate               0.523756
Information Technology    0.459770
Industrials               0.440778
Materials                 0.439550
Consumer Discretionary    0.391357
Consumer Staples          0.374705
Health Care               0.329331
Communication Services    0.266915
Name: corrs, dtype: float64

In [128]:
df_res['A'].mean()

0.06451057243713262

In [129]:
df_res['A'].median()

0.12999725341796875

In [140]:
stocks = list(df_res.columns)

In [141]:
averages = pd.DataFrame()
for i in stocks:
    print(i)
    temp = df_res[i].mean()
    averages[i] = temp

A
AAL
AAP
AAPL
ABBV
ABC
ABMD
ABT
ACN
ADBE
ADI
ADM
ADP
ADSK
AEE
AEP
AES
AFL
AIG
AIZ
AJG
AKAM
ALB
ALGN
ALK
ALL
ALLE
AMAT
AMCR
AMD
AME
AMGN
AMP
AMT
AMZN
ANET
ANSS
AON
AOS
APA
APD
APH
APTV
ARE
ATO
ATVI
AVB
AVGO
AVY
AWK
AXP
AZO
BA
BAC
BALL
BAX
BBWI
BBY
BDX
BEN
BF-B
BIIB
BIO
BK
BKNG
BKR
BLK
BMY
BR
BRK-B
BRO
BSX
BWA
BXP
C
CAG
CAH
CARR
CAT
CB
CBOE
CBRE
CCI
CCL
CDAY
CDNS
CDW
CE
CEG
CF
CFG
CHD
CHRW
CHTR
CI
CINF
CL
CLX
CMA
CMCSA
CME
CMG
CMI
CMS
CNC
CNP
COF
COO
COP
COST
CPB
CPRT
CPT
CRL
CRM
CSCO
CSGP
CSX
CTAS
CTLT
CTRA
CTSH
CTVA
CVS
CVX
CZR
D
DAL
DD
DE
DFS
DG
DGX
DHI
DHR
DIS
DISH
DLR
DLTR
DOV
DOW
DPZ
DRI
DTE
DUK
DVA
DVN
DXC
DXCM
EA
EBAY
ECL
ED
EFX
EIX
EL
ELV
EMN
EMR
ENPH
EOG
EPAM
EQIX
EQR
EQT
ES
ESS
ETN
ETR
ETSY
EVRG
EW
EXC
EXPD
EXPE
EXR
F
FANG
FAST
FBHS
FCX
FDS
FDX
FE
FFIV
FIS
FISV
FITB
FLT
FMC
FOX
FOXA
FRC
FRT
FTNT
FTV
GD
GE
GILD
GIS
GL
GLW
GM
GNRC
GOOG
GOOGL
GPC
GPN
GRMN
GS
GWW
HAL
HAS
HBAN
HCA
HD
HES
HIG
HII
HLT
HOLX
HON
HPE
HPQ
HRL
HSIC
HST
HSY
HUM
HWM
IBM
ICE
IDXX
IEX
IFF
ILMN
INCY
INTC
INTU
INVH
IP
IPG
IQV
IR
IRM
ISRG
IT
ITW
IVZ
J
JBHT
JCI
JKHY
JNJ
JNPR
JPM
K
KDP
KEY
KEYS
KHC
KIM
KLAC
KMB
KMI
KMX
KO
KR
L
LDOS
LEN
LH
LHX
LIN
LKQ
LLY
LMT
LNC
LNT
LOW
LRCX
LUMN
LUV
LVS
LW
LYB
LYV
MA
MAA
MAR
MAS
MCD
MCHP
MCK
MCO
MDLZ
MDT
MET
META
MGM
MHK
MKC
MKTX
MLM
MMC
MMM
MNST
MO
MOH
MOS
MPC
MPWR
MRK
MRNA
MRO
MS
MSCI
MSFT
MSI
MTB
MTCH
MTD
MU
NCLH
NDAQ
NDSN
NEE
NEM
NFLX
NI
NKE
NLOK
NLSN
NOC
NOW
NRG
NSC
NTAP
NTRS
NUE
NVDA
NVR
NWL
NWS
NWSA
NXPI
O
ODFL
OGN
OKE
OMC
ON
ORCL
ORLY
OTIS
OXY
PARA
PAYC
PAYX
PCAR
PCG
PEAK
PEG
PEP
PFE
PFG
PG
PGR
PH
PHM
PKG
PKI
PLD
PM
PNC
PNR
PNW
POOL
PPG
PPL
PRU
PSA
PSX
PTC
PWR
PXD
PYPL
QCOM
QRVO
RCL
RE
REG
REGN
RF
RHI
RJF
RL
RMD
ROK
ROL
ROP
ROST
RSG
RTX
SBAC
SBNY
SBUX
SCHW
SEDG
SEE
SHW
SIVB
SJM
SLB
SNA
SNPS
SO
SPG
SPGI
SRE
STE
STT
STX
STZ
SWK
SWKS
SYF
SYK
SYY
T
TAP
TDG
TDY
TECH
TEL
TER
TFC
TFX
TGT
TJX
TMO
TMUS
TPR
TRMB
TROW
TRV
TSCO
TSLA
TSN
TT
TTWO
TWTR
TXN
TXT
TYL
UAL
UDR
UHS
ULTA
UNH
UNP
UPS
URI
USB
V
VFC
VICI
VLO
VMC
VNO
VRSK
VRSN
VRTX
VTR
VTRS
VZ
WAB
WAT
WBA
WBD
WDC
WEC
WELL
WFC
WHR
WM
WMB
WMT
WRB
WRK
WST
WTW
WY
WYNN
XEL
XOM
XRAY
XYL
YUM
ZBH
ZBRA
ZION
ZTS

In [143]:
averages

Empty DataFrame
Columns: [A, AAL, AAP, AAPL, ABBV, ABC, ABMD, ABT, ACN, ADBE, ADI, ADM, ADP, ADSK, AEE, AEP, AES, AFL, AIG, AIZ, AJG, AKAM, ALB, ALGN, ALK, ALL, ALLE, AMAT, AMCR, AMD, AME, AMGN, AMP, AMT, AMZN, ANET, ANSS, AON, AOS, APA, APD, APH, APTV, ARE, ATO, ATVI, AVB, AVGO, AVY, AWK, AXP, AZO, BA, BAC, BALL, BAX, BBWI, BBY, BDX, BEN, BF-B, BIIB, BIO, BK, BKNG, BKR, BLK, BMY, BR, BRK-B, BRO, BSX, BWA, BXP, C, CAG, CAH, CARR, CAT, CB, CBOE, CBRE, CCI, CCL, CDAY, CDNS, CDW, CE, CEG, CF, CFG, CHD, CHRW, CHTR, CI, CINF, CL, CLX, CMA, CMCSA, ...]
Index: []

[0 rows x 503 columns]